.faded-background {
  background-color: rgba(0, 0, 0, 0.5);
}

#project-display {
  margin-top: 10px;
  padding: 10px;
}

.img-responsive {}

.perfect-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  -webkit-box-shadow: 0px 10px 23px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 23px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 23px -2px rgba(0, 0, 0, 0.75);
}